{:deps {:aliases [:build]}

 :builds {:app {:target :browser
                :output-dir "resources/js"
                :asset-path "js"
                :modules {:main {:entries [inferenceql.auto-modeling.webapp.client]}}}}}
